<div id="navBarMatch">
    <a href="/chats" style="margin-right: 10px;" class="btn btn-info">chats</a>
    <a href="/logout" class="btn btn-dark">Logout</a>
</div>

<div id="matchWrapper">
    @* <h1>this user: @ViewBag.LoggedUser.Name @ViewBag.LoggedUser.Likes</h1> *@
    <div id="matchCard">
        <h1 class="fancyFont2" style="color: #240652;">Your match:</h1>
        @{
            if(ViewBag.RandomUser == null)
            {
                <h3>No more users to show 🤷‍♀️</h3>
            }
            else
            {
                <div id="matchContentFlex">
                    <div>
                        @{
                            //legacy images won't break because of this code
                            if(ViewBag.RandomUser.ProfilePicUrl.Substring(0, 4) == "http" || ViewBag.RandomUser.ProfilePicUrl.Substring(0, 4) == "data")
                            {
                                <img src="@ViewBag.RandomUser.ProfilePicUrl" alt="user profile image">
                            }
                            else
                            {
                                <img src="~/images/@ViewBag.RandomUser.ProfilePicUrl" alt="user profile image">
                            }
                        }
                        <h2><span style="color: #240652;" class="fancyFont2">Name: </span><span class="fancyFont3">@ViewBag.RandomUser.Name</span></h2>
                        <h2><span style="color: #240652;" class="fancyFont2">Gender: </span><span class="fancyFont3">@ViewBag.RandomUser.Gender</span></h2>
                    </div>
                    <div>
                        <h2><span style="color: #240652;" class="fancyFont2">Likes: </span><span class="fancyFont3">@ViewBag.RandomUser.Likes</span></h2>
                        <h2><span style="color: #240652;" class="fancyFont2">Bio: </span><span class="fancyFont3">@ViewBag.RandomUser.Bio</span></h2>
                    </div>
                </div>
                <a href="/matching/send/@ViewBag.RandomUser.UserId" class="btn btn-success" id="yaybutton">yay</a>
                <a href="/matching/pass/@ViewBag.RandomUser.UserId" class="btn btn-danger" id="naybutton">nay</a>
            }
        }
    </div>
</div>
<h1 class="fancyFont2" style="color: #240652;">Message requests:</h1>
@{
    foreach(MatchRequest mr in ViewBag.ReceivedRequests)
    {
    <div id="matchWrapper">
            <div id="matchCard">
                <div id="matchContentFlex"><span></span>
                    <div>
                        <img src="@mr.Sender.ProfilePicUrl" alt="user profile image">
                        <h2><span class="fancyFont2" style="color: #240652;">Name: </span><span class="fancyFont3">@mr.Sender.Name</span></h2>
                        <h2><span class="fancyFont2" style="color: #240652;">Gender: </span><span class="fancyFont3">@mr.Sender.Gender</span></h2>
                    </div>
                    <div>
                        <h2><span class="fancyFont2" style="color: #240652;">Likes: </span><span class="fancyFont3">@mr.Sender.Likes</span></h2>
                        <h2><span class="fancyFont2" style="color: #240652;">Bio: </span><span class="fancyFont3">@mr.Sender.Bio</span></h2>
                    </div>
                </div>
                <a href="/matching/acceptRequest/@mr.Sender.UserId" class="btn btn-success" id="yaybutton">yay</a>
                <a href="/matching/denyRequest/@mr.Sender.UserId" class="btn btn-danger" id="naybutton">nay</a>
            </div>
    </div>
    }
    <hr>
}