@using System.Text.RegularExpressions
@{
    ViewData["Title"] = "Dashboard";
}
@model User

<a href="/logout" class="btn btn-dark">Logout</a>
<a href="/dashboard" class="btn btn-info">Back</a>
<h1>Hey, @ViewBag.User.Name! Wanna edit your profile?</h1>

    <form asp-action="EditProfile" asp-controller-="Home" method="post">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" value="@ViewBag.User.Email" class="form-control">
            <span asp-validation-for="Email" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" value="@ViewBag.User.Name" class="form-control">
            <span asp-validation-for="Name" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Gender"></label>
            <select asp-for="Gender" class="form-control">
                <option value="@ViewBag.User.Gender">@ViewBag.User.Gender</option>
                <option value="Non-Binary">Non-Binary</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
            </select>
            <span asp-validation-for="Gender" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PreferredUsers"></label>
            <select asp-for="PreferredUsers" class="form-control">
                @{
                    if(@ViewBag.User.PreferredUsers == 1)
                    {
                        <option value="1">Everyone</option>
                    }
                    else if(@ViewBag.User.PreferredUsers == 2)
                    {
                        <option value="2">Females</option>
                    }
                    else{<option value="3">Males</option>}

                }
                <option value="1">Everyone</option>
                <option value="2">Females</option>
                <option value="3">Males</option>
            </select>
            <span asp-validation-for="PreferredUsers" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Likes"></label>
            <input asp-for="Likes" value="@ViewBag.User.Likes" class="form-control">
            <span asp-validation-for="Likes" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Bio"></label>
            <input asp-for="Bio" value="@ViewBag.User.Bio"  class="form-control">
            <span asp-validation-for="Bio" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProfilePicUrl"></label>
            <input asp-for="ProfilePicUrl"  value="@ViewBag.User.ProfilePicUrl" class="form-control">
            <span asp-validation-for="ProfilePicUrl" class="alert-danger"></span>
        </div>
        <h4>What type of date are you open to? Check all that apply</h4>
        @{
            if(@ViewBag.User.DatePhysical){
                <input type="checkbox" checked asp-for="DatePhysical">
            }
            else{
                <input type="checkbox" asp-for="DatePhysical">
            }
            <label asp-for="DatePhysical">Athletic Activity Date</label><br>
        }
        @{
            if(@ViewBag.User.DateCasual){
                <input type="checkbox" checked asp-for="DateCasual">
            }
            else{
                <input type="checkbox" asp-for="DateCasual">
            }
            <label asp-for="DateCasual">Casual Activity Date</label><br>
        }
        @{
            if(@ViewBag.User.DateFood){
                <input type="checkbox" checked asp-for="DateFood">
            }
            else{
                <input type="checkbox" asp-for="DateFood">
            }
            <label asp-for="DateFood">Restaurant Date</label><br>
        }
        @{
            if(@ViewBag.User.DateCoffee){
                <input type="checkbox" checked asp-for="DateCoffee">
            }
            else{
                <input type="checkbox" asp-for="DateCoffee">
            }
            <label asp-for="DateCoffee">Coffee Date</label><br>
        }
        @{
            if(@ViewBag.User.DateBar){
                <input type="checkbox" checked asp-for="DateBar">
            }
            else{
                <input type="checkbox" asp-for="DateBar">
            }
            <label asp-for="DateBar">Bar Date</label><br>
        }


        <input type="submit" value="Submit" class="btn btn-primary">
    </form>